<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Scheduler List</title>

<script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/default.css" />

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">Job List</a>
	</nav>

	<div class="container" style="margin-top: 100px">
		<table class="table table-striped">
			<tr>
				<th>Job Name</th>
				<th>Group Name</th>
				<th>Schedule Time</th>
				<th>Last Fired Time</th>
				<th>Next Fire Time</th>
				<th>Job State</th>
			</tr>
			<tr th:each="job : ${listJobs}">
				<td th:text="${job.jobName}"></td>
				<td th:text="${job.groupName}"></td>
				<td th:text="${job.scheduleTime}"></td>
				<td th:text="${job.lastFiredTime}"></td>
				<td th:text="${job.nextFireTime}"></td>
				<td th:text="${job.jobState}"></td>
			</tr>
		</table>
	</div>

</body>
</html>